/*.c-player--controls {
    
}*/

.prgrss-btns{
    --primary: #900C3F;
    display:flex;
    width: inherit;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 7pt;
}


.forwardbackward {
    background: none;
    border: none;
    display: flex;
    flex: 1;
    align-items: center;
    font-family: monospace;
    cursor: pointer;
    border: 1px;
    font-size: 19px;
    padding: auto;
    margin: auto;
}

.forwardbackward:hover {
    color: var(--primary);
}

.backten {
    /* position: relative;
    right: 0; */
    transition: right ease 0.5s;
}

.backten:hover{
    right: 5px;
}

.aheadten{
    /* position: relative;
    left: 0; */
    transition: left ease 0.5s;
}

.aheadten:hover {
    left: 5px ;
}


.duration{
    margin: auto;
    flex: 1;
    padding: auto;
    font-family: monospace;
    font-size: 16px;
}

.progress-bar{
    margin: auto;
    --bar-bg: #BFC9CA;
    --seek-before-width: #444;
    --seek-before-color: #F39C12;
    --knobby : #F39C12;
    --selectedknobby: #1F618D;

    flex: 8;
    appearance: none;
    background: var(--bar-bg);
    /* border-radius: 10px; */
    position: relative;
    width: 50vw;
    height: 4pt;
    outline: none;
}

/* for safari browsers*/

.progress-bar::-webkit-slider-runable-track{
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 4pt;
    outline: none;
}


/*for firefox*/
.progress-bar::-moz-range-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 4pt;
    outline: none;
}

.progress-bar::-moz-focus-outer{
    border: none;
}

/*for safari and chrome*/
.progress-bar::before{
    content:'';
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    cursor: pointer;
}


/*for firefox*/

.progress-bar::-moz-range-progress{
    background-color: var(--seek-before-color);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    height:11px;

}


/*knobb chrome safari*/

.progress-bar::-webkit-slider-thumb{
    -webkit-appearnace: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--knobby);
    cursor:pointer;
    position: relative;
    margin: -2px 0 0 0;
    margin-top: 0.7px;
    z-index: 3;
    box-sizing: border-box;
}

/*while dragging knob chrome and safari */

.progress-bar:active::-webkit-slider-thumb{
    transform: scale(1.2);
    background: var(--selectedknobby);

}

/* knobby firefox*/

.progress-bar::-moz-range-thumb {


    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor:pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

.progress-bar:active::-moz-range-thumb {

    transform: scale(1.2);
    background: var(--selectedknobby);
}

button .skip-btn{
    color: black;
}

/* for Sidebar */

.Sidebar{
    margin: auto;
    text-align: center;
    position: fixed;
    width: 22%;
    top: calc( 5vw);
    left: 0;
    border:1px solid hsla(0,0%,100%,.11);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    height: 100%;
    background:hsla(0,0%,100%,.35);
    color: black;
    z-index: 999;
}

.Queue-list{
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.songs-queue{
    border: 1px solid #F39C12;
    width: 100%;
    cursor: pointer;
}

/* for Sidebar */


/* for Navbar */
.Navbar{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    border:1px solid hsla(0,0%,100%,.11);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    background: hsla(0,0%,100%,.35);
    width: 100%;
    height: 5vw;
    z-index: 999;
}

.nav-left{
    flex: 3;
    align-items: center;
    text-align: center;
}

.nav-right{
    flex: 3;
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-center{
    flex: 6;
    text-align: center;
    
}


.Lefticon{
    color: #444;
    cursor: pointer;
}
/* for Navbar */
